.example-container {
    background-color: red;
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(28, 40, 101);
    color: white;
}

.example-container__title {
    font-family: "Lato";
}

.example-container__image {
    height: 300px;
    width: 400px;
}

.example-container__action {
    box-shadow: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: grey;
    color: white;
}