.convocation-content {
    background-color: #003b70;
    width: 60rem;
    margin: auto;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}
