.convocation-content {
    background-color: #003b70;
    width: 60rem;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

.ant-tabs,
.ant-tabs-tab,
.ant-tabs-tabpane {
    color: white !important;
}

.ant-tabs-tab:hover {
    color: #d7b860 !important;
}

.ant-tabs-tab-active{
    color: #d7b860 !important;
}

.ant-tabs-nav {
    border: none;
}